/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/*font-size: 100%;*/
	/*font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
}
.wrapper {
	width: 100%;
	min-width: 1000px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	display: block;
	height: 70px;
	background: #2C3E50;
 	border-style: solid;
    border-bottom: 2px solid #BDBDBD;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
	/*border: 2px solid #FF0000;*/
	margin-top:  20px;
	width: 100%;
	padding: 0 0 100px;
	position: relative;
	background: #FFFFFF;
}
.middle:after {
	/*border: 2px solid #FF0000;*/

	display: table;
	clear: both;
	content: '';
}
.container {
	/*border: 2px solid #FF0000;*/

	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	/*border: 2px solid #FF0000;*/
	margin-right: 200px;
	display:table;
	padding: 0 0 0 320px;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	/*border: 2px solid #FF0000;*/

	float: left;
	width: 300px;
	margin-left: -100%;
	margin-top: 0px;
	position: relative;

	/*background: #B5E3FF;*/
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	/*border: 2px solid #FF0000;*/

	margin: -20px auto 0;
	min-width: 1000px;
	height: 20px;
	background: #2E2E2E;
	position: relative;
	text-align: center;
	vertical-align: middle;
	color: #F2F2F2;
}
/*------------*/ 
.site_name {
	/*padding-top: 15px;*/
	font-family: Impact, Georgia, 'Times New Roman', Times, serif;
  	font-size: 24px;
  	color: #FFFFFF;
  	float:left;
  	margin-left: 320px;
  	margin-top: 20px;
}
.title {
	font-family: arial, serif;
  	margin-left: 20px;
  	font-size: 12px;
  	color: #ffffff;
  	float:left;
  	clear:both;
  	margin-left: 320px;
 	
}

.ya-share2{
	/*padding-top: 10px;*/
	margin-right: 200px;
	margin-top: 20px;
	float: right;
}

.copyright{
	float:left;
	margin-left: 20px;
}
.emailme {
	float:right;
	margin-right: 20px;
}
.example {
	margin-top: 20px;
}
/*.main_text_title {
	margin-top: 20px;
	font-family: Impact, Georgia, 'Times New Roman', Times, serif;
  	font-size: 24px;
}*/
.main_title {
	line-height:1.0;
	color: #444;
	font-family: 'Fira Sans',sans-serif;
}
.main_text {
	font-family: Verdana, Times, serif;
	font-size: 14px;

}